.pageCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f9fafc;
}

.authCard {
  width: 400px;
  text-align: center;
}

.title {
  margin-bottom: 30px;
  color: #4a4a68;
}

.submitBtn {
  background: linear-gradient(135deg, #9d84ff 0%, #ffb6e1 100%) !important;
  border: none !important;
  height: 48px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 700;
}
